flows/flows.json
[
    {
        "id": "99b7c45e85e902b3",
        "type": "tab",
        "label": "Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "2d79d6d9f5c67204",
        "type": "websocket-client",
        "path": "ws://bogus-ws.energyweb.org",
        "tls": "",
        "wholemsg": "false",
        "hb": "0",
        "subprotocol": ""
    },
    {
        "id": "ca458e16e4a836d1",
        "type": "http request",
        "z": "99b7c45e85e902b3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.energyweb.org/",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 830,
        "y": 200,
        "wires": [
            [
                "5932b2d38134c43a"
            ]
        ]
    },
    {
        "id": "f02cc4fe61753311",
        "type": "inject",
        "z": "99b7c45e85e902b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 640,
        "y": 440,
        "wires": [
            [
                "ca458e16e4a836d1"
            ]
        ]
    },
    {
        "id": "cb8322d8c579ee6b",
        "type": "file",
        "z": "99b7c45e85e902b3",
        "name": "",
        "filename": "/output-data/results.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 1210,
        "y": 220,
        "wires": [
            []
        ]
    },
    {
        "id": "ea384ef90b8b7ec0",
        "type": "http in",
        "z": "99b7c45e85e902b3",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 640,
        "y": 340,
        "wires": [
            [
                "ca458e16e4a836d1"
            ]
        ]
    },
    {
        "id": "adcc49e7d9a06c97",
        "type": "http response",
        "z": "99b7c45e85e902b3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1150,
        "y": 140,
        "wires": []
    },
    {
        "id": "5932b2d38134c43a",
        "type": "switch",
        "z": "99b7c45e85e902b3",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 990,
        "y": 200,
        "wires": [
            [
                "adcc49e7d9a06c97"
            ],
            [
                "cb8322d8c579ee6b"
            ]
        ]
    },
    {
        "id": "40fa79dc7df08fbe",
        "type": "debug",
        "z": "99b7c45e85e902b3",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "19268caf9ae862a9",
        "type": "websocket in",
        "z": "99b7c45e85e902b3",
        "name": "",
        "server": "",
        "client": "2d79d6d9f5c67204",
        "x": 320,
        "y": 200,
        "wires": [
            [
                "fb96884c1cadcc10"
            ]
        ]
    },
    {
        "id": "fb96884c1cadcc10",
        "type": "json",
        "z": "99b7c45e85e902b3",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 550,
        "y": 200,
        "wires": [
            [
                "40fa79dc7df08fbe",
                "ca458e16e4a836d1"
            ]
        ]
    }
]