flows/flows.json
[
    {
        "id": "99b7c45e85e902b3",
        "type": "tab",
        "label": "Example",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "ca458e16e4a836d1",
        "type": "http request",
        "z": "99b7c45e85e902b3",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "https://www.energyweb.org/",
        "tls": "",
        "persist": true,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 470,
        "y": 360,
        "wires": [
            [
                "5932b2d38134c43a"
            ]
        ]
    },
    {
        "id": "f02cc4fe61753311",
        "type": "inject",
        "z": "99b7c45e85e902b3",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 280,
        "y": 240,
        "wires": [
            [
                "ca458e16e4a836d1"
            ]
        ]
    },
    {
        "id": "cb8322d8c579ee6b",
        "type": "file",
        "z": "99b7c45e85e902b3",
        "name": "",
        "filename": "/output-data/results.txt",
        "filenameType": "str",
        "appendNewline": true,
        "createDir": false,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 850,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "ea384ef90b8b7ec0",
        "type": "http in",
        "z": "99b7c45e85e902b3",
        "name": "",
        "url": "/hello",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 280,
        "y": 360,
        "wires": [
            [
                "ca458e16e4a836d1"
            ]
        ]
    },
    {
        "id": "adcc49e7d9a06c97",
        "type": "http response",
        "z": "99b7c45e85e902b3",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 790,
        "y": 300,
        "wires": []
    },
    {
        "id": "5932b2d38134c43a",
        "type": "switch",
        "z": "99b7c45e85e902b3",
        "name": "",
        "property": "req",
        "propertyType": "msg",
        "rules": [
            {
                "t": "nempty"
            },
            {
                "t": "empty"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 630,
        "y": 360,
        "wires": [
            [
                "adcc49e7d9a06c97"
            ],
            [
                "cb8322d8c579ee6b"
            ]
        ]
    }
]
